---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Innovate, Explore, Adapt..." id="intro">
  <Fragment slot="lead">
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.</Fragment>
</ContentSection>
